<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/profile-style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;1,400&display=swap"
    />
  </head>
  <body>
    <div class="div2">
      <header class="vector-group">
        <img class="frame-child4" alt="" src="./public/rectangle-10.svg" />

        <button class="frame-button">
          <div class="rectangle-div"></div>
          <div class="div3">Логотип</div>
        </button>
        <div class="frame-container">
          <div class="frame-parent1">
            <img
              class="frame-child5"
              loading="lazy"
              alt=""
              src="./public/group-16.svg"
            />

            <img
              class="frame-child6"
              loading="lazy"
              alt=""
              src="./public/group-16-1@2x.png"
            />

            <img
              class="frame-child7"
              loading="lazy"
              alt=""
              src="./public/group-16-2@2x.png"
              id="groupIcon1"
            />
          </div>
        </div>
      </header>
      <main class="child">
        <section class="frame-section">
          <div class="frame-parent2">
            <div class="vector-wrapper">
              <img
                class="arrow-icon"
                loading="lazy"
                alt=""
                src="./public/arrow-1.svg"
                id="arrow"
              />
            </div>
            <h1 class="h1">Профиль</h1>
          </div>
          <div class="profile">
            <div class="frame-parent3">
              <div class="frame-wrapper1">
                <div class="group-div">
                  <div class="frame-child8"></div>
                  <div class="exit-button">
                    <div class="exit-button-child"></div>
                    <div class="wrapper">
                      <h2 class="h2">Имя</h2>
                    </div>
                  </div>
                  <div class="examplegmailcom">Почта example@gmail.com</div>
                  <div class="total-price-label">
                    <div class="div4">Телефон +7 (9ХХ) ХХХ-ХХ-ХХ</div>
                    <div class="parent">
                      <div class="div5">Выйти</div>
                      <div class="vector-container">
                        <img
                          class="vector-icon"
                          loading="lazy"
                          alt=""
                          src="./public/vector-46.svg"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rectangle-parent1">
                <div class="frame-child9"></div>
                <div class="group">
                  <h2 class="h21">Доставки</h2>
                  <div class="div6">Ближайшая 15 марта</div>
                </div>
                <div class="data-container-wrapper">
                  <div class="data-container">
                    <div class="frame-parent4">
                      <div class="frame-parent5">
                        <div class="rectangle-parent2">
                          <div class="frame-child10"></div>
                          <img
                            class="pngwing-1-icon"
                            loading="lazy"
                            alt=""
                            src="./public/pngwing-1@2x.png"
                          />
                        </div>
                        <textarea
                          class="frame-textarea"
                          placeholder="Данные по товару 1
													Данные по товару 2
													Данные по товару 3
													Данные по товару 4
													"
                        >
                        </textarea>
                      </div>
                      <div class="frame-parent6">
                        <div class="rectangle-parent3">
                          <div class="frame-child11"></div>
                          <img
                            class="pngwing-2-icon"
                            loading="lazy"
                            alt=""
                            src="./public/pngwing-2@2x.png"
                          />
                        </div>
                        <textarea
                          class="frame-child12"
                          placeholder="Данные по товару 1
													Данные по товару 2
													Данные по товару 3
													Данные по товару 4"
                        >
                        </textarea>
                      </div>
                    </div>
                    <div class="total-price-box">
                      <div class="div7">Итого ...₽</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
