<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./component1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="div36">
      <div class="div37">Любимые бренды</div>
      <div class="image-17"></div>
      <img class="vector-icon" alt="" src="./public/vector.svg" />

      <img class="pngwing-12-icon" alt="" src="./public/pngwing-12@2x.png" />

      <img class="item" alt="" src="./public/group-121.svg" />

      <div class="image-171"></div>
      <img class="pngwing-4-icon" alt="" src="./public/pngwing-4@2x.png" />

      <img class="vector-icon1" alt="" src="./public/vector.svg" />

      <div class="frame">
        <div class="div38">-20%</div>
      </div>
      <img class="inner" alt="" src="./public/group-121.svg" />

      <div class="image-172"></div>
      <img class="vector-icon2" alt="" src="./public/vector.svg" />

      <img class="pngwing-12-icon1" alt="" src="./public/pngwing-12@2x.png" />

      <img class="group-icon" alt="" src="./public/group-121.svg" />

      <div class="image-173"></div>
      <img class="vector-icon3" alt="" src="./public/vector.svg" />

      <img class="pngwing-12-icon2" alt="" src="./public/pngwing-12@2x.png" />

      <img class="child1" alt="" src="./public/group-121.svg" />

      <div class="image-174"></div>
      <img class="pngwing-4-icon1" alt="" src="./public/pngwing-4@2x.png" />

      <img class="vector-icon4" alt="" src="./public/vector.svg" />

      <div class="frame-div">
        <div class="div39">-20%</div>
      </div>
      <img class="child2" alt="" src="./public/group-121.svg" />

      <div class="image-175"></div>
      <img class="vector-icon5" alt="" src="./public/vector.svg" />

      <img class="pngwing-12-icon3" alt="" src="./public/pngwing-12@2x.png" />

      <img class="child3" alt="" src="./public/group-121.svg" />

      <header class="rectangle-header">
        <div class="frame-child1"></div>
        <div class="home-main-area">
          <div class="content-wrapper">
            <img
              class="content-wrapper-child"
              loading="lazy"
              alt=""
              src="./public/group-128.svg"
            />

            <div class="app-header">
              <img class="icon1" loading="lazy" alt="" src="./public/.svg" />
            </div>
          </div>
        </div>
        <div class="group-div">
          <div class="frame-child2"></div>
          <div class="search-bar-area">
            <div class="div40">Поиск</div>
          </div>
          <img class="frame-child3" alt="" src="./public/group-84.svg" />
        </div>
        <div class="shopping-bag-area">
          <img
            class="shopping-bag-area-child"
            loading="lazy"
            alt=""
            src="./public/group-101.svg"
          />

          <img
            class="shopping-bag-icon"
            loading="lazy"
            alt=""
            src="./public/frame-48095683.svg"
            id="shoppingBagIcon"
          />

          <img
            class="bag-icon2"
            loading="lazy"
            alt=""
            src="./public/bag.svg"
            id="bagIcon"
          />
        </div>
      </header>
      <main class="main-content-area">
        <section class="product-grid-area">
          <div class="footer-area">
            <div class="footer-content-area">
              <div class="user-account-navigation-area">
                <div class="div41">профиль</div>
                <div class="div42">заказы</div>
                <div class="parent1">
                  <div class="div43">избранное</div>
                  <img
                    class="favorites-icon"
                    alt=""
                    src="./public/favorites-icon.svg"
                  />
                </div>
                <div class="div44">выйти</div>
              </div>
              <div class="favorites-title">
                <h1 class="h11">Избранное</h1>
              </div>
            </div>
          </div>
          <div class="product-grid-parent">
            <div class="product-grid">
              <div class="product-item">
                <div class="product-image-container">
                  <img
                    class="product-image-icon"
                    loading="lazy"
                    alt=""
                    src="./public/vector.svg"
                  />
                </div>
                <div class="registration">
                  <div class="image-176"></div>
                  <img
                    class="registration-child"
                    loading="lazy"
                    alt=""
                    src="./public/group-121.svg"
                  />

                  <div class="product-name-price">
                    <div class="product-name">
                      <div class="product-label-container">
                        <img
                          class="pngwing-4-icon2"
                          loading="lazy"
                          alt=""
                          src="./public/pngwing-4@2x.png"
                        />
                      </div>
                      <button class="new-wrapper">
                        <div class="new">New</div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="price-quantity">
                <div class="price">
                  <div class="price-value">
                    <div class="price-amount">
                      <div class="div45">3990 ₽</div>
                    </div>
                    <div class="product-name-details">
                      <div class="product-name-row">
                        <div class="div46">Набор столовых приборов</div>
                      </div>
                      <div class="frame-parent">
                        <img
                          class="frame-child4"
                          alt=""
                          src="./public/group-86.svg"
                        />

                        <img
                          class="frame-child5"
                          loading="lazy"
                          alt=""
                          src="./public/group-86.svg"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <img class="bag-icon3" alt="" src="./public/bag-1.svg" />
              </div>
            </div>
            <div class="product-item1">
              <div class="product-image-container1">
                <div class="product-image">
                  <img
                    class="product-image-icon1"
                    alt=""
                    src="./public/vector.svg"
                  />
                </div>
                <div class="product-details">
                  <div class="image-177"></div>
                  <img
                    class="product-details-child"
                    alt=""
                    src="./public/group-121.svg"
                  />

                  <div class="product-name-price1">
                    <div class="product-name1">
                      <div class="product-label-container1">
                        <img
                          class="pngwing-4-icon3"
                          alt=""
                          src="./public/pngwing-4@2x.png"
                        />
                      </div>
                      <button class="new-container">
                        <div class="new1">New</div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="price-quantity1">
                <div class="price1">
                  <div class="product-name-details1">
                    <div class="div47">3990 ₽</div>
                    <div class="div48">Набор столовых приборов</div>
                  </div>
                </div>
                <img class="bag-icon4" alt="" src="./public/bag-1.svg" />
              </div>
            </div>
            <div class="product-item2">
              <div class="product-image-container2">
                <div class="product-image1">
                  <img
                    class="product-image-icon2"
                    alt=""
                    src="./public/vector.svg"
                  />
                </div>
                <div class="image-17-parent">
                  <div class="image-178"></div>
                  <div class="product-badge-parent">
                    <img
                      class="product-badge-icon"
                      alt=""
                      src="./public/vector.svg"
                    />

                    <img
                      class="frame-child6"
                      alt=""
                      src="./public/group-121.svg"
                    />
                  </div>
                  <div class="product-name-price2">
                    <div class="product-name2">
                      <div class="product-label-container2">
                        <img
                          class="pngwing-4-icon4"
                          alt=""
                          src="./public/pngwing-4@2x.png"
                        />
                      </div>
                      <button class="new-frame">
                        <div class="new2">New</div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="price-quantity2">
                <div class="price2">
                  <div class="price-value1">
                    <div class="price-amount1">
                      <div class="div49">3990 ₽</div>
                    </div>
                    <div class="product-name-details2">
                      <div class="product-name-row1">
                        <div class="div50">Набор столовых приборов</div>
                      </div>
                      <img
                        class="product-name-details-child"
                        alt=""
                        src="./public/group-86.svg"
                      />
                    </div>
                  </div>
                </div>
                <img class="bag-icon5" alt="" src="./public/bag-1.svg" />
              </div>
            </div>
          </div>
          <div class="product-row">
            <div class="product-tile">
              <div class="product-details-area">
                <div class="product-visuals">
                  <div class="pricing-area">
                    <div class="product-old-price-parent">
                      <img
                        class="product-old-price"
                        alt=""
                        src="./public/vector.svg"
                      />

                      <img
                        class="product-new-price"
                        alt=""
                        src="./public/vector.svg"
                      />
                    </div>
                  </div>
                  <div class="image-placeholder">
                    <div class="image-179"></div>
                    <div class="image-placeholder-inner">
                      <div class="product-tag-parent">
                        <img
                          class="product-tag-icon"
                          alt=""
                          src="./public/vector.svg"
                        />

                        <img
                          class="frame-child7"
                          alt=""
                          src="./public/group-121.svg"
                        />
                      </div>
                    </div>
                    <img
                      class="pngwing-12-icon4"
                      loading="lazy"
                      alt=""
                      src="./public/pngwing-12@2x.png"
                    />
                  </div>
                </div>
                <div class="product-information-area">
                  <div class="product-name-area">
                    <div class="form-parent">
                      <div class="form">
                        <div class="div51">3990 ₽</div>
                        <div class="div52">3990 ₽</div>
                      </div>
                      <div class="input-field">
                        <div class="div53">Набор постельного белья</div>
                        <div class="div54">Набор постельного белья</div>
                      </div>
                    </div>
                  </div>
                  <div class="input">
                    <img class="bag-icon6" alt="" src="./public/bag-1.svg" />

                    <img class="bag-icon7" alt="" src="./public/bag-1.svg" />
                  </div>
                </div>
              </div>
              <div class="product-row-two">
                <div class="product-tile-two">
                  <div class="product-details-area-two">
                    <div class="product-visuals-two">
                      <img
                        class="product-old-price-two"
                        alt=""
                        src="./public/vector.svg"
                      />

                      <img
                        class="product-new-price-two"
                        alt=""
                        src="./public/vector.svg"
                      />
                    </div>
                  </div>
                  <div class="button">
                    <div class="image-1710"></div>
                    <div class="button-inner">
                      <div class="product-tag-two-parent">
                        <img
                          class="product-tag-two"
                          alt=""
                          src="./public/vector.svg"
                        />

                        <img
                          class="frame-child8"
                          alt=""
                          src="./public/group-121.svg"
                        />
                      </div>
                    </div>
                    <img
                      class="pngwing-12-icon5"
                      alt=""
                      src="./public/pngwing-12@2x.png"
                    />
                  </div>
                </div>
                <div class="product-information-area-two">
                  <div class="product-name-area-two">
                    <div class="product-title-area-two-parent">
                      <div class="product-title-area-two">
                        <div class="div55">3990 ₽</div>
                        <div class="div56">3990 ₽</div>
                      </div>
                      <div class="product-name-two">
                        <div class="parent2">
                          <div class="div57">Набор постельного белья</div>
                          <div class="div58">Набор постельного белья</div>
                        </div>
                        <div class="label">
                          <img
                            class="label-child"
                            alt=""
                            src="./public/group-87.svg"
                          />

                          <img
                            class="label-item"
                            alt=""
                            src="./public/group-87.svg"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-row-three">
                    <img class="bag-icon8" alt="" src="./public/bag-1.svg" />

                    <img class="bag-icon9" alt="" src="./public/bag-1.svg" />
                  </div>
                </div>
              </div>
              <div class="product-image-area-three">
                <div class="parent3">
                  <div class="div59">
                    <div class="price-icons-area-three">
                      <img class="icon2" alt="" src="./public/vector.svg" />

                      <img
                        class="new-price-icon"
                        alt=""
                        src="./public/vector.svg"
                      />
                    </div>
                  </div>
                  <div class="label1">
                    <div class="image-1711"></div>
                    <div class="additional-product-image-parent">
                      <img
                        class="additional-product-image"
                        alt=""
                        src="./public/vector.svg"
                      />

                      <img
                        class="frame-child9"
                        alt=""
                        src="./public/group-121.svg"
                      />
                    </div>
                    <div class="image-detail-area-three">
                      <div class="product-tag-image-parent">
                        <div class="product-tag-image">
                          <img
                            class="pngwing-4-icon5"
                            alt=""
                            src="./public/pngwing-4@2x.png"
                          />
                        </div>
                        <button class="tag-delimiter">
                          <div class="cart-button-three">-20%</div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-information-area-three">
                  <div class="product-name-area-three">
                    <div class="label-parent">
                      <div class="label2">
                        <div class="div60">3990 ₽</div>
                        <div class="div61">3990 ₽</div>
                      </div>
                      <div class="label3">
                        <div class="div62">Набор столовых приборов</div>
                        <div class="div63">Набор столовых приборов</div>
                      </div>
                    </div>
                  </div>
                  <div class="bag-parent">
                    <img class="bag-icon10" alt="" src="./public/bag-1.svg" />

                    <img class="bag-icon11" alt="" src="./public/bag-1.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-row1">
            <div class="frame-group">
              <div class="frame-container">
                <div class="frame-parent1">
                  <div class="frame-wrapper">
                    <div class="vector-parent">
                      <img
                        class="vector-icon6"
                        alt=""
                        src="./public/vector.svg"
                      />

                      <img
                        class="vector-icon7"
                        alt=""
                        src="./public/vector.svg"
                      />
                    </div>
                  </div>
                  <div class="image-17-group">
                    <div class="image-1712"></div>
                    <div class="frame-wrapper1">
                      <div class="vector-group">
                        <img
                          class="vector-icon8"
                          alt=""
                          src="./public/vector.svg"
                        />

                        <img
                          class="frame-child10"
                          alt=""
                          src="./public/group-121.svg"
                        />
                      </div>
                    </div>
                    <img
                      class="pngwing-12-icon6"
                      alt=""
                      src="./public/pngwing-12@2x.png"
                    />
                  </div>
                </div>
                <div class="frame-parent2">
                  <div class="frame-wrapper2">
                    <div class="frame-parent3">
                      <div class="parent4">
                        <div class="div64">3990 ₽</div>
                        <div class="div65">3990 ₽</div>
                      </div>
                      <div class="parent5">
                        <div class="div66">Набор постельного белья</div>
                        <div class="div67">Набор постельного белья</div>
                      </div>
                    </div>
                  </div>
                  <div class="bag-group">
                    <img class="bag-icon12" alt="" src="./public/bag-1.svg" />

                    <img class="bag-icon13" alt="" src="./public/bag-1.svg" />
                  </div>
                </div>
              </div>
              <div class="frame-parent4">
                <div class="frame-parent5">
                  <div class="frame-wrapper3">
                    <div class="vector-container">
                      <img
                        class="vector-icon9"
                        alt=""
                        src="./public/vector.svg"
                      />

                      <img
                        class="vector-icon10"
                        alt=""
                        src="./public/vector.svg"
                      />
                    </div>
                  </div>
                  <div class="image-17-container">
                    <div class="image-1713"></div>
                    <div class="frame-wrapper4">
                      <div class="vector-parent1">
                        <img
                          class="vector-icon11"
                          alt=""
                          src="./public/vector.svg"
                        />

                        <img
                          class="frame-child11"
                          alt=""
                          src="./public/group-121.svg"
                        />
                      </div>
                    </div>
                    <img
                      class="pngwing-12-icon7"
                      alt=""
                      src="./public/pngwing-12@2x.png"
                    />
                  </div>
                </div>
                <div class="frame-parent6">
                  <div class="frame-wrapper5">
                    <div class="frame-parent7">
                      <div class="parent6">
                        <div class="div68">3990 ₽</div>
                        <div class="div69">3990 ₽</div>
                      </div>
                      <div class="frame-parent8">
                        <div class="parent7">
                          <div class="div70">Набор постельного белья</div>
                          <div class="div71">Набор постельного белья</div>
                        </div>
                        <div class="frame-parent9">
                          <img
                            class="frame-child12"
                            alt=""
                            src="./public/group-87.svg"
                          />

                          <img
                            class="frame-child13"
                            alt=""
                            src="./public/group-87.svg"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bag-container">
                    <img class="bag-icon14" alt="" src="./public/bag-1.svg" />

                    <img class="bag-icon15" alt="" src="./public/bag-1.svg" />
                  </div>
                </div>
              </div>
              <div class="frame-parent10">
                <div class="frame-parent11">
                  <div class="frame-wrapper6">
                    <div class="vector-parent2">
                      <img
                        class="vector-icon12"
                        alt=""
                        src="./public/vector.svg"
                      />

                      <img
                        class="vector-icon13"
                        alt=""
                        src="./public/vector.svg"
                      />
                    </div>
                  </div>
                  <div class="image-17-parent1">
                    <div class="image-1714"></div>
                    <div class="vector-parent3">
                      <img
                        class="vector-icon14"
                        alt=""
                        src="./public/vector.svg"
                      />

                      <img
                        class="frame-child14"
                        alt=""
                        src="./public/group-121.svg"
                      />
                    </div>
                    <div class="frame-wrapper7">
                      <div class="frame-parent12">
                        <div class="pngwing-4-wrapper">
                          <img
                            class="pngwing-4-icon6"
                            alt=""
                            src="./public/pngwing-4@2x.png"
                          />
                        </div>
                        <button class="frame-button">
                          <div class="div72">-20%</div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-parent13">
                  <div class="frame-wrapper8">
                    <div class="frame-parent14">
                      <div class="parent8">
                        <div class="div73">3990 ₽</div>
                        <div class="div74">3990 ₽</div>
                      </div>
                      <div class="parent9">
                        <div class="div75">Набор столовых приборов</div>
                        <div class="div76">Набор столовых приборов</div>
                      </div>
                    </div>
                  </div>
                  <div class="bag-parent1">
                    <img class="bag-icon16" alt="" src="./public/bag-1.svg" />

                    <img class="bag-icon17" alt="" src="./public/bag-1.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="group-footer">
        <div class="frame-child15"></div>
        <div class="div77">Где мой магазин</div>
        <div class="help-title-parent">
          <div class="help-title">
            <div class="div78">Помощь</div>
          </div>
          <div class="profile-policies">
            <div class="profile-policies-list">
              <div class="div79">Мой профиль</div>
            </div>
            <div class="div80">Доставка и Оплата</div>
            <div class="profile-policies-list1">
              <div class="div81">правила возврата</div>
            </div>
          </div>
        </div>
        <div class="div82">найти магазин</div>
        <div class="div83">подобрать размер</div>
        <div class="div84">Любимые бренды</div>
        <div class="catalog-navigation">
          <div class="catalog-title">
            <div class="div85">Каталог</div>
          </div>
          <div class="catalog-categories">
            <div class="div86">новинки</div>
            <div class="categories-list">
              <div class="div87">КУХНЯ</div>
            </div>
            <div class="categories-list1">
              <div class="div88">ВАННАЯ</div>
            </div>
            <div class="categories-list2">
              <div class="div89">спальня</div>
            </div>
            <div class="categories-list3">
              <div class="sale1">sALE%</div>
            </div>
          </div>
        </div>
        <div class="company-info1">
          <div class="div90">Компания</div>
          <div class="about-contacts">
            <div class="about-us-faq">
              <div class="about-us-faq-list">
                <div class="div91">О нас</div>
              </div>
              <div class="div92">контакты</div>
              <div class="about-us-faq-list1">
                <div class="faq1">Faq</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var shoppingBagIcon = document.getElementById("shoppingBagIcon");
      if (shoppingBagIcon) {
        shoppingBagIcon.addEventListener("click", function (e) {
          window.location.href = "./component1.html";
        });
      }
      
      var bagIcon = document.getElementById("bagIcon");
      if (bagIcon) {
        bagIcon.addEventListener("click", function (e) {
          window.location.href = "./component2.html";
        });
      }
      </script>
  </body>
</html>
