<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./component2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="div116">
      <div class="div117">Любимые бренды</div>
      <section class="header1">
        <header class="rectangle-parent3">
          <div class="frame-child18"></div>
          <div class="sidebar">
            <div class="navigation1" id="navigationContainer">
              <img
                class="navigation-child"
                loading="lazy"
                alt=""
                src="./public/group-128.svg"
              />

              <div class="nav-item">
                <img class="icon4" loading="lazy" alt="" src="./public/.svg" />
              </div>
            </div>
          </div>
          <div class="rectangle-parent4">
            <div class="frame-child19"></div>
            <div class="search-input">
              <div class="div118">Поиск</div>
            </div>
            <img
              class="frame-child20"
              loading="lazy"
              alt=""
              src="./public/group-84.svg"
            />
          </div>
          <div class="shopping-cart">
            <img
              class="shopping-cart-child"
              loading="lazy"
              alt=""
              src="./public/group-101.svg"
            />

            <img
              class="cart-icon"
              loading="lazy"
              alt=""
              src="./public/frame-48095683.svg"
              id="cartIcon"
            />

            <img
              class="bag-icon21"
              loading="lazy"
              alt=""
              src="./public/bag.svg"
            />
          </div>
        </header>
        <div class="content1">
          <div class="banners">
            <div class="banner-item">
              <div class="categories2">
                <div class="div119">новинки</div>
                <div class="div120">ВАННАЯ</div>
                <div class="div121">КУХНЯ</div>
                <div class="div122">СПАЛЬНЯ</div>
              </div>
            </div>
            <div class="order-info">
              <div class="recipient-info">
                <h1 class="h17">Информация о получателе</h1>
                <div class="order-info-table">
                  <div class="table-header">
                    <div class="div123">Фото</div>
                    <div class="div124">Цвет</div>
                    <div class="div125">Размер</div>
                    <div class="div126">Цена</div>
                    <div class="div127">Количество</div>
                    <div class="div128">Сумма</div>
                  </div>
                  <img class="divider-icon" loading="lazy" alt="" />
                </div>
              </div>
              <div class="delivery-options">
                <div class="options-list">
                  <div class="option-item">
                    <div class="enter-email-parent">
                      <div class="enter-email">
                        <div class="div129">
                          <div class="parent11">
                            <div class="div130">
                              <span>имя </span>
                              <span class="span5">*</span>
                            </div>
                            <div class="div131">Имя получателя заказа</div>
                          </div>
                        </div>
                        <div class="inputs">
                          <input
                            class="input1"
                            placeholder="Введите имя"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="login-parent">
                        <div class="login">
                          <div class="e-mail-parent">
                            <div class="e-mail">
                              <span>E-mail </span>
                              <span class="span6">*</span>
                            </div>
                            <div class="div132">
                              Для отправки деталей заказа, статуса производства
                              и доставки
                            </div>
                          </div>
                        </div>
                        <div class="e-mail-wrapper">
                          <input
                            class="e-mail1"
                            placeholder="Введите e-mail"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="frame-parent15">
                        <div class="google-logo-wrapper">
                          <div class="google-logo">
                            <div class="div133">
                              <span>Телефон </span>
                              <span class="span7">*</span>
                            </div>
                            <div class="div134">
                              Для уточнения деталей доставки или заказанного
                              товара
                            </div>
                          </div>
                        </div>
                        <div class="wrapper3">
                          <input
                            class="input2"
                            placeholder="Введите телефон"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="promocode-input-wrapper">
                        <div class="promocode-input"></div>
                      </div>
                      <div class="div135">Выберите способ доставки</div>
                    </div>
                    <div class="option-icon">
                      <div class="delivery-type">
                        <div class="delivery-time">
                          <div class="delivery-time-child"></div>
                        </div>
                        <div class="div136">
                          <p class="p">Курьерская доставка</p>
                          <p class="p1">Срок – от 1 дня</p>
                        </div>
                      </div>
                    </div>
                    <div class="option-icon1">
                      <div class="frame-parent16">
                        <div class="ellipse-wrapper">
                          <div class="ellipse-div"></div>
                        </div>
                        <div class="div137">
                          <p class="p2">Пункты выдачи заказов</p>
                          <p class="p3">Срок – от 1 дня</p>
                        </div>
                      </div>
                    </div>
                    <div class="option-icon2">
                      <div class="frame-parent17">
                        <div class="ellipse-container">
                          <div class="frame-child21"></div>
                        </div>
                        <div class="div138">
                          <p class="p4">Самовывоз</p>
                          <p class="p5">Срок – от 1 дня</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-list">
                  <div class="product-item3">
                    <div class="product-card">
                      <div class="product-names">
                        <div class="div139">Набор столовых приборов</div>
                        <div class="product-options">
                          <div class="color-selectors">
                            <div class="image-17-parent2">
                              <div class="image-1715"></div>
                              <img
                                class="pngwing-4-icon7"
                                loading="lazy"
                                alt=""
                                src="./public/pngwing-41@2x.png"
                              />
                            </div>
                          </div>
                          <div class="size-selectors">
                            <div class="size-options">
                              <div class="size-value">
                                <div class="delete-buttons">
                                  <div class="div140">Черный</div>
                                </div>
                                <div class="div141">М</div>
                              </div>
                              <div class="delete-button">
                                <div class="div142">Удалить</div>
                              </div>
                            </div>
                          </div>
                          <div class="item-price">
                            <div class="div143">990 ₽</div>
                          </div>
                          <div class="stepper">
                            <div class="stepper-buttons">
                              <div class="decrease">
                                <img
                                  class="decrease-icon"
                                  loading="lazy"
                                  alt=""
                                  src="./public/vector-4.svg"
                                />
                              </div>
                              <div class="quantity-value">1</div>
                              <div class="increase">
                                <img
                                  class="increase-icon"
                                  loading="lazy"
                                  alt=""
                                  src="./public/vector-5.svg"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="div144">990 ₽</div>
                        </div>
                      </div>
                      <div class="product-names1">
                        <div class="div145">Набор столовых приборов</div>
                        <div class="frame-parent18">
                          <div class="frame-wrapper9">
                            <div class="image-17-parent3">
                              <div class="image-1716"></div>
                              <img
                                class="pngwing-4-icon8"
                                alt=""
                                src="./public/pngwing-4-1@2x.png"
                              />
                            </div>
                          </div>
                          <div class="frame-wrapper10">
                            <div class="frame-parent19">
                              <div class="frame-parent20">
                                <div class="wrapper4">
                                  <div class="div146">Черный</div>
                                </div>
                                <div class="div147">М</div>
                              </div>
                              <div class="wrapper5">
                                <div class="div148">Удалить</div>
                              </div>
                            </div>
                          </div>
                          <div class="wrapper6">
                            <div class="div149">990 ₽</div>
                          </div>
                          <div class="frame-wrapper11">
                            <div class="frame-parent21">
                              <div class="vector-wrapper">
                                <img
                                  class="frame-child22"
                                  alt=""
                                  src="./public/vector-4.svg"
                                />
                              </div>
                              <div class="div150">1</div>
                              <div class="vector-frame">
                                <img
                                  class="frame-child23"
                                  alt=""
                                  src="./public/vector-5.svg"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="div151">990 ₽</div>
                        </div>
                      </div>
                      <div class="product-names2">
                        <div class="div152">Набор столовых приборов</div>
                        <div class="frame-parent22">
                          <div class="frame-wrapper12">
                            <div class="image-17-parent4">
                              <div class="image-1717"></div>
                              <img
                                class="pngwing-4-icon9"
                                alt=""
                                src="./public/pngwing-4-1@2x.png"
                              />
                            </div>
                          </div>
                          <div class="frame-wrapper13">
                            <div class="frame-parent23">
                              <div class="frame-parent24">
                                <div class="wrapper7">
                                  <div class="div153">Черный</div>
                                </div>
                                <div class="div154">М</div>
                              </div>
                              <div class="wrapper8">
                                <div class="div155">Удалить</div>
                              </div>
                            </div>
                          </div>
                          <div class="wrapper9">
                            <div class="div156">990 ₽</div>
                          </div>
                          <div class="frame-wrapper14">
                            <div class="frame-parent25">
                              <div class="vector-wrapper1">
                                <img
                                  class="frame-child24"
                                  alt=""
                                  src="./public/vector-4.svg"
                                />
                              </div>
                              <div class="div157">1</div>
                              <div class="vector-wrapper2">
                                <img
                                  class="frame-child25"
                                  alt=""
                                  src="./public/vector-5.svg"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="div158">990 ₽</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="order-summary">
                    <div class="price-breakdown">
                      <div class="total-label-parent">
                        <div class="total-label">
                          <div class="div159">Стоимость</div>
                          <div class="total-price-separator"></div>
                        </div>
                        <div class="total-value">
                          <div class="div160">990 ₽</div>
                        </div>
                      </div>
                      <div class="discount-row">
                        <div class="div161">Скидка</div>
                        <div class="amount">
                          <div class="amount-child"></div>
                        </div>
                        <div class="div162">100 ₽</div>
                      </div>
                      <div class="statusbartime">
                        <div class="parent12">
                          <div class="div163">Доставка</div>
                          <div class="line-wrapper">
                            <div class="frame-child26"></div>
                          </div>
                        </div>
                        <div class="div164">100 ₽</div>
                      </div>
                      <div class="sign-up-to">
                        <div class="wrapper10">
                          <div class="div165">Итого</div>
                        </div>
                        <div class="sign-up-to-inner">
                          <div class="frame-child27"></div>
                        </div>
                        <div class="div166">1 500 ₽</div>
                      </div>
                    </div>
                  </div>
                  <button class="group-button">
                    <div class="frame-child28"></div>
                    <div class="div167">оформить заказ</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="rectangle-parent5">
        <div class="frame-child29"></div>
        <div class="div168">Где мой магазин</div>
        <div class="footer-menu">
          <div class="wrapper11">
            <div class="div169">Помощь</div>
          </div>
          <div class="profile-links-parent">
            <div class="profile-links">
              <div class="div170">Мой профиль</div>
            </div>
            <div class="div171">Доставка и Оплата</div>
            <div class="profile-links1">
              <div class="div172">правила возврата</div>
            </div>
          </div>
        </div>
        <div class="div173">найти магазин</div>
        <div class="div174">подобрать размер</div>
        <div class="div175">Любимые бренды</div>
        <div class="catalogue-label-parent">
          <div class="catalogue-label">
            <div class="div176">Каталог</div>
          </div>
          <div class="navigation-menu">
            <div class="div177">новинки</div>
            <div class="departments">
              <div class="div178">КУХНЯ</div>
            </div>
            <div class="departments1">
              <div class="div179">ВАННАЯ</div>
            </div>
            <div class="departments2">
              <div class="div180">спальня</div>
            </div>
            <div class="departments3">
              <div class="sale3">sALE%</div>
            </div>
          </div>
        </div>
        <div class="company-info3">
          <div class="div181">Компания</div>
          <div class="company-details1">
            <div class="info-links">
              <div class="info-link">
                <div class="div182">О нас</div>
              </div>
              <div class="div183">контакты</div>
              <div class="info-link1">
                <div class="faq3">Faq</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var navigationContainer = document.getElementById("navigationContainer");
      if (navigationContainer) {
        navigationContainer.addEventListener("click", function (e) {
          window.location.href = "./frame2.html";
        });
      }
      
      var cartIcon = document.getElementById("cartIcon");
      if (cartIcon) {
        cartIcon.addEventListener("click", function (e) {
          window.location.href = "./component1.html";
        });
      }
      </script>
  </body>
</html>
