<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="cssc:\Users\Dima\Desktop\Новая папка\component1.css/global.css" />
    <link rel="stylesheet" href="./css/home-page-style.css" />
    <link rel="stylesheet" href="./css/global.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;1,400&display=swap"
    />
  </head>
  <body>
    <div class="div8">
      <div class="text"></div>
      <img class="item" alt="" src="./public/vector-16.svg" />

      <img class="subtract-icon" alt="" src="./public/subtract@2x.png" />

      <img class="child1" alt="" src="./public/vector-17.svg" />

      <div class="div9">Набор 1</div>
      <div class="text1"></div>
      <img class="subtract-icon1" alt="" />

      <div class="text2"></div>
      <img class="subtract-icon2" alt="" src="./public/subtract.svg" />

      <img class="child2" alt="" src="./public/vector-16.svg" />

      <img class="subtract-icon3" alt="" src="./public/subtract@2x.png" />

      <img class="child3" alt="" src="./public/vector-17.svg" />

      <div class="div10">Набор 1</div>
      <div class="text3"></div>
      <div class="vector-parent1">
        <img class="frame-child13" alt="" src="./public/vector-42.svg" />

        <div class="rectangle-parent4">
          <div class="frame-child14"></div>
          <div class="frame-parent7">
            <div class="vector-parent2">
              <img
                class="frame-child15"
                alt=""
                src="./public/vector-42-1.svg"
              />

              <img class="subtract-icon4" alt="" src="./public/subtract.svg" />
            </div>
            <img class="subtract-icon5" alt="" src="./public/subtract@2x.png" />
          </div>
        </div>
        <div class="vector-parent3">
          <img class="frame-child16" alt="" src="./public/vector-16.svg" />

          <img class="frame-child17" alt="" src="./public/vector-17.svg" />
        </div>
      </div>
      <img class="subtract-icon6" alt="" />

      <div class="text4"></div>
      <img class="subtract-icon7" alt="" src="./public/subtract.svg" />

      <img class="child4" alt="" src="./public/vector-16.svg" />

      <img class="subtract-icon8" alt="" src="./public/subtract@2x.png" />

      <img class="child5" alt="" src="./public/vector-17.svg" />

      <div class="div11">Набор 1</div>
      <div class="text5"></div>
      <img class="subtract-icon9" alt="" />

      <div class="text6"></div>
      <img class="subtract-icon10" alt="" src="./public/subtract.svg" />

      <img class="child6" alt="" src="./public/vector-16.svg" />

      <img class="subtract-icon11" alt="" src="./public/subtract@2x.png" />

      <img class="child7" alt="" src="./public/vector-17.svg" />

      <div class="div12">Набор 1</div>
      <div class="text7"></div>
      <img class="subtract-icon12" alt="" />

      <header class="group-header">
        <img class="frame-child18" alt="" src="./public/rectangle-10.svg" />

        <button class="rectangle-parent5">
          <div class="frame-child19"></div>
          <div class="div13">Логотип</div>
        </button>
        <div class="frame-wrapper2">
          <div class="frame-parent8">
            <img
              class="frame-child20"
              loading="lazy"
              alt=""
              src="./public/group-16.svg"
            />

            <img
              class="frame-child21"
              alt=""
              src="./public/group-16-1@2x.png"
            />

            <img
              class="frame-child22"
              alt=""
              src="./public/group-16-2@2x.png"
              id="groupIcon1"
            />
          </div>
        </div>
      </header>
      <main class="frame-main">
        <section class="frame-parent9">
          <div class="frame-wrapper3">
            <div class="decor-and-tableware-label-parent">
              <div class="decor-and-tableware-label">
                <img
                  class="decor-and-tableware-label-child"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-1.svg"
                  id="arrow"
                />
              </div>
              <div class="kitchen-label-parent">
                <div class="kitchen-label">
                  <div class="div14">Кухня</div>
                  <div class="container">
                    <div class="div15">Кухня</div>
                    <div class="vector-frame">
                      <img
                        class="frame-child23"
                        loading="lazy"
                        alt=""
                        src="./public/vector-47.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="budget-label-parent">
                  <div class="budget-label">
                    <div class="div16">Сервизы</div>
                  </div>
                  <div class="frame-wrapper4">
                    <div class="frame-parent10">
                      <div class="parent1">
                        <div class="div17">Кухонный декор</div>
                        <div class="div18">Столовые приборы</div>
                      </div>
                      <div class="div19">...</div>
                    </div>
                  </div>
                  <div class="div20">Ванная</div>
                  <div class="div21">Спальня</div>
                </div>
              </div>
            </div>
          </div>
          <div class="parent2">
            <h1 class="h11">КУХНЯ</h1>
            <div class="frame-wrapper5">
              <div class="frame-parent11">
                <div class="vector-parent4">
                  <img
                    class="frame-child24"
                    alt=""
                    src="./public/vector-42.svg"
                  />

                  <img
                    class="subtract-icon13"
                    alt=""
                    src="./public/subtract.svg"
                  />

                  <div class="rectangle-parent6">
                    <div class="frame-child25"></div>
                    <div class="pngwing-1-wrapper">
                      <img
                        class="pngwing-1-icon1"
                        loading="lazy"
                        alt=""
                        src="./public/pngwing-11@2x.png"
                      />
                    </div>
                    <div class="subtract-parent">
                      <img
                        class="subtract-icon14"
                        alt=""
                        src="./public/subtract@2x.png"
                      />

                      <div class="pngwing-parent">
                        <img
                          class="pngwing-icon"
                          alt=""
                          src="./public/vector-42-1.svg"
                        />

                        <img
                          class="subtract-icon15"
                          alt=""
                          src="./public/subtract.svg"
                        />

                        <img
                          class="frame-child26"
                          alt=""
                          src="./public/vector-17.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <img
                    class="medium-length-displa"
                    alt=""
                    src="./public/vector-16.svg"
                  />
                </div>
                <div class="currency-set-parent">
                  <div class="currency-set">
                    <div class="div22">Набор 1</div>
                  </div>
                  <div class="div23">...₽</div>
                </div>
              </div>
            </div>
            <div class="layout-grid">
              <div class="pngwing-6-parent">
                <img
                  class="pngwing-6-icon"
                  alt=""
                  src="./public/pngwing-6@2x.png"
                />

                <div class="prices-container">
                  <div class="div24">Набор 4</div>
                  <div class="currency-symbol">
                    <div class="div25">...₽</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-wrapper6">
            <div class="frame-parent12">
              <div class="frame-parent13">
                <div class="rectangle-parent7">
                  <div class="frame-child27"></div>
                  <div class="sets-container">
                    <img
                      class="subtract-icon16"
                      alt=""
                      src="./public/subtract-5@2x.png"
                    />

                    <div class="second-container">
                      <img
                        class="second-container-child"
                        alt=""
                        src="./public/vector-43.svg"
                      />

                      <img
                        class="subtract-icon17"
                        alt=""
                        src="./public/subtract-6.svg"
                      />

                      <img
                        class="second-container-item"
                        loading="lazy"
                        alt=""
                        src="./public/vector-14.svg"
                      />

                      <img
                        class="medium-length-displa1"
                        alt=""
                        src="./public/medium-length-displa.svg"
                      />
                    </div>
                  </div>
                  <div class="pngwing-3-wrapper">
                    <img
                      class="pngwing-3-icon"
                      loading="lazy"
                      alt=""
                      src="./public/pngwing-3@2x.png"
                    />
                  </div>
                </div>
                <div class="parent3">
                  <div class="div26">Набор 2</div>
                  <div class="div27">...₽</div>
                </div>
              </div>
              <div class="main-container">
                <div class="rectangle-parent8">
                  <div class="frame-child28"></div>
                  <div class="subtract-group">
                    <img
                      class="subtract-icon18"
                      alt=""
                      src="./public/subtract-5@2x.png"
                    />

                    <div class="vector-parent5">
                      <img
                        class="frame-child29"
                        alt=""
                        src="./public/vector-43.svg"
                      />

                      <img
                        class="subtract-icon19"
                        alt=""
                        src="./public/subtract-6.svg"
                      />

                      <img
                        class="frame-child30"
                        alt=""
                        src="./public/vector-14.svg"
                      />

                      <img
                        class="frame-child31"
                        alt=""
                        src="./public/medium-length-displa.svg"
                      />

                      <img
                        class="frame-child32"
                        alt=""
                        src="./public/vector-43-2.svg"
                      />
                    </div>
                  </div>
                  <img
                    class="pngwing-9-icon"
                    alt=""
                    src="./public/pngwing-9@2x.png"
                  />
                </div>
                <div class="parent4">
                  <div class="div28">Набор 5</div>
                  <div class="div29">...₽</div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-wrapper7">
            <div class="frame-parent14">
              <div class="frame-parent15">
                <div class="vector-parent6">
                  <img
                    class="frame-child33"
                    alt=""
                    src="./public/vector-42.svg"
                  />

                  <div class="rectangle-parent9">
                    <div class="frame-child34"></div>
                    <div class="subtract-container">
                      <img
                        class="subtract-icon20"
                        alt=""
                        src="./public/subtract@2x.png"
                      />

                      <div class="vector-parent7">
                        <img
                          class="frame-child35"
                          alt=""
                          src="./public/vector-42-1.svg"
                        />

                        <img
                          class="subtract-icon21"
                          alt=""
                          src="./public/subtract.svg"
                        />

                        <img
                          class="frame-child36"
                          alt=""
                          src="./public/vector-17.svg"
                        />
                      </div>
                    </div>
                    <div class="pngwing-8-wrapper">
                      <img
                        class="pngwing-8-icon"
                        loading="lazy"
                        alt=""
                        src="./public/pngwing-8@2x.png"
                      />
                    </div>
                  </div>
                  <img
                    class="frame-child37"
                    alt=""
                    src="./public/vector-16.svg"
                  />
                </div>
                <div class="frame-parent16">
                  <div class="frame">
                    <div class="div30">Набор 3</div>
                  </div>
                  <div class="div31">...₽</div>
                </div>
              </div>
              <div class="frame-parent17">
                <div class="frame-parent18">
                  <div class="vector-parent8">
                    <img
                      class="frame-child38"
                      alt=""
                      src="./public/vector-42.svg"
                    />

                    <div class="rectangle-parent10">
                      <div class="frame-child39"></div>
                      <div class="frame-parent19">
                        <div class="vector-parent9">
                          <img
                            class="frame-child40"
                            alt=""
                            src="./public/vector-42-1.svg"
                          />

                          <img
                            class="subtract-icon22"
                            alt=""
                            src="./public/subtract.svg"
                          />
                        </div>
                        <img
                          class="subtract-icon23"
                          alt=""
                          src="./public/subtract@2x.png"
                        />

                        <img
                          class="pngwing-7-icon"
                          alt=""
                          src="./public/pngwing-7@2x.png"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="vector-parent10">
                    <img
                      class="frame-child41"
                      alt=""
                      src="./public/vector-16.svg"
                    />

                    <img
                      class="frame-child42"
                      alt=""
                      src="./public/vector-17.svg"
                    />
                  </div>
                </div>
                <div class="parent5">
                  <div class="div32">Набор 6</div>
                  <div class="div33">...₽</div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

    <script>
      var groupIcon1 = document.getElementById("groupIcon1");
      if (groupIcon1) {
        groupIcon1.addEventListener("click", function (e) {
          window.location.href = "./frame1.html";
        });
      }
      
      var arrow = document.getElementById("arrow");
      if (arrow) {
        arrow.addEventListener("click", function (e) {
          window.location.href = "./frame.html";
        });
      }
      </script>
  </body>
</html>
