.background-color-footer2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-teal);
  width: 1440px;
  height: 408px;
}
.company-main2 {
  font-weight: 600;
}
.company-main2,
.div65 {
  position: relative;
  line-height: 100%;
  text-transform: uppercase;
}
.company-list2,
.company2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.company-list2 {
  gap: var(--gap-xl);
  color: var(--color-silver);
}
.company2 {
  position: absolute;
  top: 0;
  left: 641px;
  gap: var(--gap-11xl);
}
.sale3 {
  position: relative;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--brand-white);
}
.catalog2,
.help2 {
  position: absolute;
  top: 0;
  left: 363px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.help2 {
  left: 0;
}
.footer-navigation2,
.footer2 {
  position: absolute;
  top: 107px;
  left: 354px;
  width: 732px;
  height: 194px;
}
.footer2 {
  top: 1290px;
  left: 1px;
  width: 1440px;
  height: 408px;
  text-align: left;
  font-size: var(--text-size);
  color: var(--brand-white);
  font-family: var(--text);
}
.background-color {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(50% 50%at 50% 50%, #66a892, #d4efda),
    radial-gradient(50% 50%at 50% 50%, #417060, #d4efda);
  width: 300px;
  height: 324px;
}
.div74 {
  position: absolute;
  top: 335px;
  left: 0;
  line-height: 100%;
  font-weight: 600;
}
.bag-icon2 {
  position: absolute;
  top: 331px;
  left: 276px;
  width: 24px;
  height: 24px;
}
.div75 {
  position: relative;
  line-height: 170%;
}
.item-name {
  position: absolute;
  top: 366px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-size);
  color: var(--color1);
}
.bed-linen-img-icon {
  position: absolute;
  top: 46px;
  left: 3px;
  width: 294px;
  height: 248.2px;
  object-fit: cover;
}
.heart-icon {
  position: absolute;
  top: 13px;
  left: 262px;
  width: 28.3px;
  height: 25.5px;
}
.bed-linen,
.bed-linen-child,
.bed-linen1 {
  position: absolute;
  top: 464px;
  left: 661px;
  width: 300px;
  height: 390px;
}
.bed-linen-child,
.bed-linen1 {
  left: 330px;
}
.bed-linen-child {
  top: 41px;
  left: 94px;
  width: 281px;
  height: 96px;
  overflow: hidden;
}
.background-color3,
.bed-linen2 {
  position: absolute;
  top: 464px;
  left: 0;
  width: 300px;
  height: 390px;
}
.background-color3 {
  top: 0;
  background: radial-gradient(50% 50%at 50% 50%, #d7f5e0, #8e746c 53.68%);
  height: 324px;
}
.spoons-img-icon {
  position: absolute;
  top: 59px;
  left: 19px;
  width: 262px;
  height: 203px;
  object-fit: cover;
}
.spoons-item {
  position: absolute;
  top: 0;
  left: 661px;
  width: 300px;
  height: 390px;
}
.div82,
.item-name4 {
  position: absolute;
  left: 0;
}
.div82 {
  top: 335px;
  font-size: var(--h3-size);
  line-height: 100%;
  font-weight: 600;
}
.item-name4 {
  top: 366px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color1);
}
.new {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.new-tag {
  position: absolute;
  top: 300px;
  left: 0;
  background-color: var(--color-teal);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-2xs);
  color: var(--brand-white);
}
.spoons-item1 {
  position: absolute;
  top: 0;
  left: 333px;
  width: 300px;
  height: 390px;
  font-size: var(--text-size);
}
.div85 {
  position: relative;
  line-height: 170%;
}
.div85:hover {
  font-size: 17px;
  color: var(--color-black);
}
.item-name5,
.sale-tag {
  position: absolute;
  top: 366px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color1);
}
.sale-tag {
  top: 300px;
  background-color: var(--color-firebrick-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-2xs);
  color: var(--brand-white);
}
.heart-color-icon {
  position: absolute;
  top: 1.5px;
  left: 1px;
  width: 26.5px;
  height: 23px;
}
.heart,
.heart-border-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 28.3px;
  height: 25.5px;
}
.heart {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 13px;
  left: 262px;
}
.heart:active .heart-color-icon {
  border: 1px solid transparent;
  box-sizing: border-box;
}
.spoons-item2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 390px;
  font-size: var(--text-size);
}
.favourite-list {
  position: absolute;
  top: 172px;
  left: 0;
  width: 961px;
  height: 854px;
}
.div87,
.div88 {
  display: inline-block;
}
.div87 {
  position: absolute;
  top: 75px;
  left: 370px;
  font-size: var(--h22-size);
  line-height: 100%;
  font-weight: 600;
  text-align: center;
  width: 218px;
  height: 8.2px;
}
.div88 {
  width: 83px;
  flex-shrink: 0;
}
.div88:hover,
.div89:hover {
  color: var(--color-mediumseagreen);
}
.div88,
.div89,
.div91 {
  position: relative;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.div91:hover {
  color: var(--color-firebrick-200);
}
.main2,
.navigation2 {
  position: absolute;
  text-align: left;
  font-family: var(--text);
}
.navigation2 {
  margin: 0;
  top: 0;
  left: 309px;
  background-color: var(--brand-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--text-size);
  color: var(--color1);
}
.main2 {
  top: 145px;
  left: 241px;
  width: 961px;
  height: 1026px;
  font-size: var(--h3-size);
  color: var(--d1d1d);
}
.header-background-color2 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--d1d1d);
}
.header-background-color2,
.input-form2,
.line-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}
.input-form2 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
}
.line-icon {
  height: 40%;
  width: 40%;
  top: 60%;
  left: 60%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.search-icon-child1 {
  position: absolute;
  height: 72%;
  width: 72%;
  top: 0;
  right: 28%;
  bottom: 28%;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.search-icon2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 55.56%;
  width: 4.17%;
  top: 22.22%;
  right: 2.84%;
  bottom: 22.22%;
  left: 92.99%;
}
.input6,
.input7,
.logo-icon2 {
  position: absolute;
  height: 45px;
}
.input7 {
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--text);
  font-size: var(--font-size-base);
  background-color: transparent;
  top: 0;
  left: 16.8px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--color-gray-400);
  text-align: left;
  display: flex;
  align-items: center;
  width: 518.4px;
}
.input6,
.logo-icon2 {
  top: 31px;
  left: 457px;
  width: 599px;
}
.logo-icon2 {
  top: 35px;
  left: 54px;
  width: 213px;
  height: 38px;
  overflow: hidden;
  cursor: pointer;
}
.bag-icon8,
.favourite-icon2,
.profile-icon2 {
  position: absolute;
  top: 36px;
  left: 1281px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.bag-icon8,
.profile-icon2 {
  left: 1361px;
}
.profile-icon2 {
  left: 1201.8px;
  width: 39.5px;
}
.header2 {
  position: absolute;
  height: 6.3%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 93.7%;
  left: 0;
}
.div64 {
  width: 100%;
  position: relative;
  background-color: var(--brand-white);
  height: 1698px;
  overflow: hidden;
}
