body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* Fonts */
  --text: Montserrat;

  /* Font Sizes */
  --font-size-base: 16px;
  --text-size: 14px;
  --h21-size: 30px;
  --h1-size: 64px;
  --h22-size: 32px;
  --h3-size: 20px;
  --h2-size: 38px;
  --font-size-9xl: 28px;
  --font-size-5xl: 24px;

  /* Colors */
  --brand-white: #fff;
  --color-gray-300: #949494;
  --color-gray-400: #7c7c7c;
  --d1d1d: #1d1d1d;
  --color-gray-200: rgba(255, 255, 255, 0.8);
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-black: #000;
  --color-dimgray-100: #77625a;
  --color-dimgray-200: #785b5b;
  --color1: #565656;
  --color-dimgray-300: rgba(120, 91, 91, 0.87);
  --color-mediumseagreen: #22b785;
  --color-darkslategray-100: #3a3a3a;
  --color-silver-100: #c9c9c9;
  --c5c5c5: #c5c5c5;
  --color-silver: #c4c4c4;
  --color: #b6b6b6;
  --color-teal: #417060;
  --color-red: #ff0606;
  --color-cadetblue: #66a892;
  --color-firebrick-100: #ca2f2f;
  --color-firebrick-200: #b10909;
  --sale: #ed1331;
  --color-darkgray: #b4b4b4;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-11xl: 30px;
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-13xl: 32px;

  /* Paddings */
  --padding-smi: 13px;
  --padding-2xl: 21px;
  --padding-29xl: 48px;
  --padding-base: 16px;
  --padding-5xl: 24px;
  --padding-8xs: 5px;
  --padding-2xs: 11px;
  --padding-3xl: 22px;

  /* Border Radiuses */
  --br-xl: 20px;
  --br-31xl: 50px;
  --br-3xs: 10px;
  --br-11xl: 30px;
}
