@keyframes wobble-hor-bottom {

	0%,
	to {
		transform: translateX(0);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.container {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: space-between; 
	align-items: flex-start; 
 }
 
 .item {
	flex: 1 1 auto; 
	margin: 10px; 
 }

 .fixed-item {
	flex: 0 0 auto;
	min-width: 200px;
	margin: 10px;
 }

.kitchen-navigation-icon {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: var(--br-3xs);
	width: 410px;
	object-fit: cover;
	cursor: pointer;
}

.kitchen-category,
.kitchen {
	position: absolute;
}

.kitchen-category {
	top: 801px;
	left: 156px;
	line-height: 100%;
}

.kitchen {
	top: 0;
	left: 876px;
	cursor: pointer;
}

.kitchen,
.kitchen:hover {
	width: 410px;
}

.bathroom-navigation-icon {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: var(--br-3xs);
	width: 410px;
	object-fit: cover;
}

.bathroom-category {
	position: absolute;
	top: 801px;
	left: 143px;
	line-height: 100%;
}

.bathroom {
	position: absolute;
	top: 0;
	left: 440px;
	width: 410px;
	cursor: pointer;
}

.bedroom-category {
	position: absolute;
	top: 801px;
	left: 133px;
	line-height: 100%;
}

.bedroom,
.select-category {
	position: absolute;
	left: 0;
}

.bedroom {
	top: 0;
	width: 410px;
	cursor: pointer;
}

.select-category {
	top: 1px;
	width: 1286px;
}

.categories-navigation {
	top: 977px;
	color: var(--color-black);
}

.categories-navigation,
.category-select,
.div13 {
	position: absolute;
	left: 0;
	width: 1286px;
}

.div13 {
	top: 0;
	line-height: 100%;
	font-weight: 600;
	display: inline-block;
}

.category-select {
	top: 899px;
	text-align: center;
	font-size: 48px;
}

.sale-navigation-frame-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 1286px;
	object-fit: cover;
}

.sale-frame-child {
	position: absolute;
	top: 0;
	left: 0;
	backdrop-filter: blur(5px);
	border-radius: var(--br-xl);
	background-color: var(--color-gray-200);
	width: 607px;
}

.sale-colection-text,
.buy-text,
.spring-sale {
	position: relative;
	line-height: 100%;
	font-weight: 500;
}

.sale-colection-text,
.buy-text {
	font-size: var(--h21-size);
}

.buy-text {
	width: 104px;
	font-size: var(--text-size);
	text-transform: uppercase;
	font-weight: 600;
	font-family: var(--text);
	color: var(--brand-white);
	text-align: left;
	display: inline-block;
	flex-shrink: 0;
}

.arrow-icon {
	width: 24px;
	position: relative;
	max-height: 100%;
}

.button,
.sale-block {
	display: flex;
	align-items: center;
}

.button {
	cursor: pointer;
	border: 0;
	padding: var(--padding-smi) var(--padding-2xl);
	background-color: #404444;
	width: 173px;
	border-radius: var(--br-31xl);
	height: 50px;
	overflow: hidden;
	flex-shrink: 0;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	gap: var(--gap-3xs);
}

.button:hover {
	background-color: #202323;
}

.sale-block {
	position: absolute;
	top: 89px;
	left: 85px;
	flex-direction: column;
	justify-content: flex-start;
	gap: var(--gap-11xl);
}

.sale-frame {
	position: absolute;
	top: 163px;
	left: 341px;
	border-radius: var(--br-xl);
	background-color: var(--color-gray-200);
	width: 607px;
	height: 381px;
	opacity: 1;
}

.sale-frame.animate {
	animation: 5s ease-in-out 0s infinite normal forwards wobble-hor-bottom;
}

.sale {
	position: absolute;
	top: 63px;
	left: 0;
	width: 1286px;
	font-size: var(--h1-size);
}

.text-navigation {
	position: relative;
	line-height: 100%;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
}

.text-navigation:hover {
	color: var(--color-mediumseagreen);
}

.main,
.navigation {
	position: absolute;
	font-family: var(--text);
}

.navigation {
	margin: 0;
	top: 0;
	left: 475px;
	background-color: var(--brand-white);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-5xl);
	font-size: var(--text-size);
	color: var(--color1);
}

.main {
	position: relative; 
	left: 50%;
	transform: translateX(-50%); 
	width: 1286px; 
	font-size: var(--h22-size);
	color: var(--d1d1d);
	margin-top: 40px; 
	margin-bottom: 2000px; 
 }