.main {
	position: relative;
	margin: auto;
	width: 1286px;
	font-size: var(--h22-size);
	color: var(--d1d1d);
	margin-top: 40px;
	margin-bottom: 1500px;
}

.navigation {
	left: 475px;
	background-color: var(--brand-white);
	display: flex;
	flex-direction: row;
	gap: var(--gap-5xl);
	font-size: var(--text-size);
	color: var(--color1);
}

.text-navigation,
.text-navigation-out {
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
}

.text-navigation:hover {
	color: var(--color-mediumseagreen);
}

.text-navigation-out:hover {
	color: var(--color-firebrick-200);
}

.navigation {
	position: absolute;
	font-family: var(--text);
}

.password-line {
	position: absolute;
	top: 136.5px;
	left: 0.5px;
	border-top: 1px solid var(--color-silver-100);
	box-sizing: border-box;
	width: 768px;
	height: 1px;
}

.button {
	position: relative;
	font-size: var(--text-size);
	line-height: 100%;
	text-transform: uppercase;
	font-weight: 600;
	font-family: var(--text);
	color: var(--brand-white);
	text-align: left;
	
}

.reset-password-button {
	cursor: pointer;
	border: 1px solid var(--color-dimgray-100);
	padding: var(--padding-base) var(--padding-5xl);
	background-color: var(--color-dimgray-100);
	position: absolute;
	top: 53px;
	border-radius: var(--br-31xl);
}

.save-address-button {
	cursor: pointer;
	border: 1px solid var(--color-dimgray-100);
	padding: var(--padding-base) var(--padding-5xl);
	background-color: var(--color-dimgray-100);
	position: absolute;
	top: 253px;
	border-radius: var(--br-31xl);
}

.save-personal-data-button {
	cursor: pointer;
	border: 1px solid var(--color-dimgray-100);
	padding: var(--padding-base) var(--padding-5xl);
	background-color: var(--color-dimgray-100);
	border-radius: var(--br-31xl);
}

.reset-password-button:hover,
.save-address-button:hover,
.save-personal-data-button:hover {
	background-color: var(--color-dimgray-300);
}

.password-change {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 1164px;
}


.input-tag {
	top: 0;
	left: 0;
	line-height: 100%;
	text-transform: uppercase;
	font-weight: 500;
}

.address-input {
	position: absolute;
	border-radius: var(--br-31xl);
	border: 1px solid var(--c5c5c5);
	box-sizing: border-box;
	padding: 20px;
	font-weight: 600;
	font-family: var(--text);
	font-size: var(--font-size-base);
	color: var(--color-gray-400);
	width: 729px;
	height: 40px;
	width: 333px;
}

.flat,
.flat-input {
	position: absolute;
	top: 21px;
	width: 376px;
}

.flat {
	top: 156px;
	left: 392px;
	height: 67px;
}

.house,
.house-input,
.street {
	position: absolute;
	top: 23px;
	left: 0;
	width: 376px;
	height: 46px;
}

.house,
.street {
	top: 154px;
	height: 69px;
}

.street {
	top: 67px;
	left: 392px;
}

.address,
.city {
	position: absolute;
	top: 67px;
	left: 0;
	width: 376px;
	height: 69px;
}

.address,
.address-main,
.personal-data-main,
.password-main {
	top: 0;
	width: 768px;
	height: 14px;
	font-weight: 600;
	font-size: var(--h3-size);
}

.address {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 745px;
	height: 329px;
	font-size: var(--text-size);
}

.span2 {
	font-weight: 500;
}

.span3 {
	color: var(--sale);
}

.name-input {
	width: 768px;
	position: relative;
	height: 46px;
}

.name {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-3xs);
}

.phone {
	width: 768px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-3xs);
}

.profile-input {
	border-radius: var(--br-31xl);
	border: 1px solid var(--c5c5c5);
	box-sizing: border-box;
	padding: 20px;
	font-weight: 600;
	font-family: var(--text);
	font-size: var(--font-size-base);
	color: var(--color-gray-400);
	width: 729px;
	height: 40px;
}

.date-input {
	width: 768px;
	position: relative;
	height: 44px;
}

.personal-data-input {
	display: flex;
	flex-direction: column;
	gap: var(--gap-xl);
}

.personal-data-line {
	width: 768px;
	border-top: 1px solid #c3c3c2;
}

.personal-data,
.personal-data-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: var(--gap-13xl);
}

.personal-data-form {
	align-items: flex-start;
	font-size: var(--text-size);
}

.personal-data {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 163px;
	height: 492px;
}

.page-name {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 65px;
	font-size: var(--h22-size);
	font-weight: 600;
}
