<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Каталог</title>
    <link rel="icon" type="image/x-icon" href="/frontend/public/img/icon-company.png">
    <link rel="stylesheet" href="/frontend/public/css/global.css" />
    <link rel="stylesheet" href="/frontend/public/css/header-footer.css" />
    <link rel="stylesheet" href="/frontend/public/css/catalog.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" />
</head>
<body>
    <header class="header">
        <img class="logo-icon" alt="Logo" src="/frontend/public/img/svg/logo-icon.svg" id="logoIcon" />
        <div class="input">
            <div class="input-form">
                <input class="input-line" placeholder="ПОИСК" type="text" />
                <button class="search-icon">
                    <img class="search-icon-child" alt="Найти" src="/frontend/public/img/svg/search-icon.svg" />
                </button>
            </div>
        </div>
        <div class="header-icons">
            <img class="profile-icon" alt="Profile" src="/frontend/public/img/svg/profile-icon.svg" id="profileIcon" />
            <img class="favourite-icon" alt="Favourite" src="/frontend/public/img/svg/favourite-icon.svg"
                id="favouriteIcon" />
            <img class="bag-icon" alt="Bag" src="/frontend/public/img/svg/bag-icon.svg" id="bagIcon" />
        </div>
    </header>

    <main class="main">
        <nav class="navigation">
            <div class="text-navigation" id="newNavigation">Новинки</div>
            <div class="text-navigation" id="bathroomNavigation">Ванная</div>
            <div class="text-navigation" id="kitchenNavigation">Кухня</div>
            <div class="text-navigation" id="bedroomNavigation">Спальня</div>
        </nav>
        <div class="page-name" id="selectedCategory"></div>
        <div class="favourite-list" id="favouriteList"></div>
    </main>

    <footer class="footer">
        <div class="footer-navigation">
            <div class="help">
                <div class="company-main">Помощь</div>
                <div class="company-list">
                    <div class="faq">Мой профиль</div>
                    <div class="faq">Доставка и оплата</div>
                    <div class="faq">Правила возврата</div>
                </div>
            </div>
            <div class="catalog">
                <div class="company-main">Каталог</div>
                <div class="company-list">
                    <div class="faq">Новинки</div>
                    <div class="faq">Кухня</div>
                    <div class="faq">Ванная</div>
                    <div class="faq">Спальня</div>
                    <div class="faq">Sale%</div>
                </div>
            </div>
            <div class="company">
                <div class="company-main">Компания</div>
                <div class="company-list">
                    <div class="faq">О нас</div>
                    <div class="faq">Контакты</div>
                    <div class="faq">Faq</div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../catalog.js" type="module"></script>
    <script src="../navigation.js"></script>
</body>

</html>
