<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1, width=device-width" />
	<title>Избранное</title>
	<link rel="icon" type="image/x-icon" href="/public/img/icon.png">
	<link rel="stylesheet" href="/public/css/global.css" />
	<link rel="stylesheet" href="/public/css/favorites.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" />
</head>

<body>
	<div class="div64">
		<header class="header2">
			<div class="header-background-color2"></div>
			<div class="input6">
				<div class="input-form2"></div>
				<button class="search-icon2">
					<img class="line-icon" alt="" src="/public/img/svg/glass-line.svg" />
					<div class="search-icon-child1"></div>
				</button>
				<input class="input7" placeholder="ПОИСК" type="text" />
			</div>
			<img class="logo-icon2" alt="" src="/public/img/svg/logo-icon.svg" id="logoIcon" />
			<img class="favourite-icon2" alt="" src="/public/img/svg/favourite-icon.svg" id="favouriteIcon" />
			<img class="bag-icon8" alt="" src="/public/img/svg/bag-icon.svg" id="bagIcon" />
			<img class="profile-icon2" alt="" src="/public/img/svg/profile-icon.svg" id="profileIcon" />
		</header>

		<main class="main2">
			<div class="favourite-list">
				<div class="bed-linen">
					<div class="background-color"></div>
					<div class="div74">3990 ₽</div>
					<img class="bag-icon2" alt="" src="/public/img/svg/bag.svg" />
					<div class="item-name">
						<div class="div75">Набор постельного белья</div>
					</div>
					<img class="bed-linen-img-icon" alt="" src="/public/img/bed-linen-img.png" />
					<img class="heart-icon" alt="" src="/public/img/svg/heart.svg" />
				</div>
				<div class="bed-linen1">
					<div class="background-color"></div>
					<div class="div74">3990 ₽</div>
					<img class="bag-icon2" alt="" src="/public/img/svg/bag.svg" />
					<div class="item-name">
						<div class="div75">Набор постельного белья</div>
					</div>
					<img class="bed-linen-img-icon" alt="" src="/public/img/bed-linen-img.png" />
					<img class="heart-icon" alt="" src="/public/img/svg/heart.svg" />
				</div>
				<div class="bed-linen2">
					<div class="background-color"></div>
					<div class="div74">3990 ₽</div>
					<img class="bag-icon2" alt="" src="/public/img/svg/bag.svg" />
					<div class="item-name">
						<div class="div75">Набор постельного белья</div>
					</div>
					<img class="bed-linen-img-icon" alt="" src="/public/img/bed-linen-img.png" />
					<img class="heart-icon" alt="" src="/public/img/svg/heart.svg" />
					<div class="bed-linen-child"></div>
				</div>
				<div class="spoons-item">
					<div class="background-color3"></div>
					<img class="spoons-img-icon" alt="" src="/public/img/spoons-img.png" />
					<div class="div74">3990 ₽</div>
					<img class="bag-icon2" alt="" src="/public/img/svg/bag.svg" />
					<div class="item-name">
						<div class="div75">Набор столовых приборов</div>
					</div>
					<img class="heart-icon" alt="" src="/public/img/svg/heart.svg" />
				</div>
				<div class="spoons-item1">
					<div class="background-color3"></div>
					<img class="spoons-img-icon" alt="" src="/public/img/spoons-img.png" />
					<div class="div82">3990 ₽</div>
					<img class="bag-icon2" alt="" src="/public/img/svg/bag.svg" />
					<div class="item-name4">
						<div class="div75">Набор столовых приборов</div>
					</div>
					<div class="new-tag">
						<div class="new">New</div>
					</div>
					<img class="heart-icon" alt="" src="/public/img/svg/heart.svg" />
				</div>
				<div class="spoons-item2">
					<div class="background-color3"></div>
					<img class="spoons-img-icon" alt="" src="/public/img/spoons-img.png" />
					<div class="div82">3990 ₽</div>
					<div class="item-name5">
						<div class="div85">Набор столовых приборов</div>
					</div>
					<div class="sale-tag">
						<div class="new">-20%</div>
					</div>
					<button class="heart">
						<img class="heart-color-icon" alt="" src="/public/img/svg/heart-color.svg" />
						<img class="heart-border-icon" alt="" src="/public/img/svg/heart-border.svg" />
					</button>
					<img class="bag-icon2" alt="" src="/public/img/svg/bag.svg" />
				</div>
			</div>
			<div class="div87">Избранное</div>
			<nav class="navigation2">
				<div class="div88" id="text">профиль</div>
				<div class="div89" id="text1">заказы</div>
				<div class="div89" id="text2">избранное</div>
				<div class="div91" id="text3">выйти</div>
			</nav>
		</main>

		<footer class="footer2">
			<div class="background-color-footer2"></div>
			<div class="footer-navigation2">
				<div class="company2">
					<div class="company-main2">Компания</div>
					<div class="company-list2">
						<div class="div65">О нас</div>
						<div class="div65">контакты</div>
						<div class="div65">Faq</div>
					</div>
				</div>
				<div class="catalog2">
					<div class="company-main2">Каталог</div>
					<div class="company-list2">
						<div class="div65">новинки</div>
						<div class="div65">КУХНЯ</div>
						<div class="div65">ВАННАЯ</div>
						<div class="div65">спальня</div>
						<div class="sale3">sALE%</div>
					</div>
				</div>
				<div class="help2">
					<div class="company-main2">Помощь</div>
					<div class="company-list2">
						<div class="div65">Мой профиль</div>
						<div class="div65">Доставка и Оплата</div>
						<div class="div65">правила возврата</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="../favorites.js"></script>
</body>

</html>