<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1, width=device-width" />
	<title>Каталог - главная страница</title>
	<link rel="icon" type="image/x-icon" href="/frontend/public/img/icon-company.png">
	<link rel="stylesheet" href="/frontend/public/css/global.css" />
	<link rel="stylesheet" href="/frontend/public/css/header-footer.css" />
	<link rel="stylesheet" href="/frontend/public/css/popup.css" />
	<link rel="stylesheet" href="/frontend/public/css/index.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" />
</head>

<body>
	<header class="header">
		<img class="logo-icon" alt="Logo" src="/frontend/public/img/svg/logo-icon.svg" id="logoIcon" />
		<div class="input">
			<div class="input-form">
				<input class="input-line" placeholder="ПОИСК" type="text" />
				<button class="search-icon">
					<img class="search-icon-child" alt="Найти" src="/frontend/public/img/svg/search-icon.svg" />
				</button>
			</div>
		</div>
		<div class="header-icons">
			<img class="profile-icon" alt="Profile" src="/frontend/public/img/svg/profile-icon.svg" id="profileIcon" />
			<img class="favourite-icon" alt="Favourite" src="/frontend/public/img/svg/favourite-icon.svg"
				id="favouriteIcon" />
			<img class="bag-icon" alt="Bag" src="/frontend/public/img/svg/bag-icon.svg" id="bagIcon" />
		</div>
	</header>

	<main class="main">
		<nav class="navigation">
			<div class="text-navigation" id="text">Новинки</div>
			<div class="text-navigation" id="text1">Ванная</div>
			<div class="text-navigation" id="text2">Кухня</div>
			<div class="text-navigation" id="text3">Спальня</div>
		</nav>
		<div class="category-select">
			<div class="div13">Наборы по комнатам</div>
		</div>
		<div class="sale">
			<img class="sale-navigation-frame-icon" alt="" src="/frontend/public/img/sale-navigation-frame.png" />
			<div class="sale-frame" data-animate-on-scroll>
				<div class="sale-frame-child"></div>
				<div class="sale-block">
					<div class="spring-sale">Spring sale</div>
					<div class="sale-colection-text">-20% на новую коллекцию</div>
					<button class="button" id="button">
						<div class="buy-text">К покупкам</div>
						<img class="arrow-icon" alt="" src="/frontend/public/img/svg/arrow.svg" />
					</button>
				</div>
			</div>
		</div>
		<div class="categories-navigation">
			<div class="select-category">
				<div class="kitchen" id="kitchenContainer">
					<img class="kitchen-navigation-icon" alt="" src="/frontend/public/img/kitchen-navigation.png"
						id="kitchenNavigationImage" />
					<div class="kitchen-category">Кухня</div>
				</div>
				<div class="bathroom" id="bathroomContainer">
					<img class="bathroom-navigation-icon" alt="" src="/frontend/public/img/bathroom-navigation.png" />
					<div class="bathroom-category">Ванная</div>
				</div>
				<div class="bedroom" id="bedroomContainer">
					<img class="bathroom-navigation-icon" alt="" src="/frontend/public/img/bedroom-navigation.png" />
					<div class="bedroom-category">Спальня</div>
				</div>
			</div>
		</div>
	</main>

	<footer class="footer">
		<div class="footer-navigation">
			<div class="help">
				<div class="company-main">Помощь</div>
				<div class="company-list">
					<div class="faq">Мой профиль</div>
					<div class="faq">Доставка и оплата</div>
					<div class="faq">Правила возврата</div>
				</div>
			</div>
			<div class="catalog">
				<div class="company-main">Каталог</div>
				<div class="company-list">
					<div class="faq">Новинки</div>
					<div class="faq">Кухня</div>
					<div class="faq">Ванная</div>
					<div class="faq">Спальня</div>
					<div class="faq">Sale%</div>
				</div>
			</div>
			<div class="company">
				<div class="company-main">Компания</div>
				<div class="company-list">
					<div class="faq">О нас</div>
					<div class="faq">Контакты</div>
					<div class="faq">Faq</div>
				</div>
			</div>
		</div>
	</footer>

	<div id="popup" class="popup-overlay" style="display: none">
		<div class="popup-space">
			<div class="popup-login">
				<div class="login-form">
					<div class="main-login" id="mainLogin">Вход</div>
					<div class="login-input">
						<div class="form">
							<div class="e-mail">E-mail</div>
							<div class="information-input">
								<div class="input-border"></div>
								<input class="text" type="email" />
							</div>
						</div>
						<div class="form">
							<div class="password">Пароль</div>
							<div class="information-input">
								<div class="input-border"></div>
								<input class="text" type="password" />
							</div>
						</div>
					</div>
					<button class="login-button">
						<div class="login-button-child" id="loginButtonChild">Войти</div>
					</button>
				</div>
				<button class="register-button" id="registerButton">Зарегистрироваться</button>
			</div>
			<img class="close-icon" alt="Закрыть" src="/frontend/public/img/svg/close.svg" id="popupcloseIcon" />
		</div>
	</div>

	<script src='../index.js'></script>
</body>

</html>